altgraph==0.17
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
et-xmlfile==1.0.1
future==0.18.2
idna==2.10
importlib-metadata==3.4.0
jdcal==1.4.1
numpy==1.19.5
openpyxl==3.0.6
pandas==1.2.1
pefile==2019.4.18
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyQt5==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
pytz==2020.5
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.15.0
soupsieve==2.1
typing-extensions==3.7.4.3
urllib3==1.26.3
zipp==3.4.0
